[Unit]
Description=Start ultrasonic service
## Make sure we only start the service after network is up
Wants=network-online.target
After=network.target

[Service]
Type=oneshot  
ExecStart=/usr/bin/python /home/pi/Operations/subscribers/device1/ultrasonic/ultrasonic.py

[Install]
WantedBy=multi-user.target